@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxygen", sans-serif;
    background: linear-gradient(to right, #034309, #667c03fa);
    position: relative;
}

.word .container{
    display: flex;
    align-items: center;
    text-align: center;
    color: #b5cc1e;
    font-weight: 700;
    font-size: 24px;
    border: 2px solid #b5cc1e;
    border-radius: 25px;
    margin: 50px 20px;
    padding: 10px;
    height: 50vh;
}

.counter .container{
    display: grid;
    border: 2px solid #b5cc1e;
    border-radius: 25px;
    margin: 50px 20px 0 20px;
    height: 30vh;
}
.counterBtn{
    color: #b5cc1e;
    background-color: transparent;
    border: none;
    font-size: 68px;
}

.animation img{
    display: none;
    position: absolute;
    animation: myLove 2s linear;
    width: 200px;
    height: 300px;
    left: 100px;
}

@keyframes myLove {
   from{
    margin-top: 100%;
   }
   to{
    margin-top: 0%;
   }
}

